body {
    background-color: pink;
}



h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Indie Flower', cursive;
}

h3 {
    color: white;
    font-size: 50px;
    text-align: center;
  font-family: 'Indie Flower', cursive;
}

a  {
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 20px;
    display: block;
    border-radius: 10px;
    border: 5px solid white;
    text-align: center;
    font-size: 2.5em;
    text-decoration: none;
    color: black;
    font-family: 'Indie Flower', cursive;
}

div a:hover {
    color: white;
    background-color: lightblue;
}