body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}



#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
     font-family: 'Orbitron', sans-serif;
     color: white;
     text-align: center;
}

.title {
    font-size: 95px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: whitesmoke;
}

#restartButton, #startButton {
    border: 2px solid white;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: pink;
}

#scoreboard {
    margin: 0px;
}
a {
    color: inherit;
    text-decoration: none;
}